<div class="title">
  <h1>My People</h1>
</div>
<%= link_to "Add New Person", new_person_path %>

<h4>Click a Person to see your Goals for them</h4>

<ul>
  <% @people.sort.each do |person| %>
    <li class=person_<%= person.id %>>
      <%= link_to person.name, person_path(person) %>
      <%= person.group.title %>
      <%= link_to "Edit Person", edit_person_path(person) %>
    </li>
  <% end %>
</ul>
