<div class="title">
  <h1>My Groups</h1>
</div>
<%= link_to "Create New Group", new_group_path %>
<h3>To change a person's group, click a person's name below.</h3>

<ul>
  <% @groups.each do |group| %>
    <li class=group_<%= group.id %>>
      <%= group.title %> <%= link_to "Edit Group", edit_group_path(group) %>
      <% group.people.each do |person| %>
        <ul> <%= link_to person.name, edit_group_person_path(group, person) %> </ul>
      <% end %>
    </li>
  <% end %>
</ul>
