<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Let's go!</strong> Add your first goal below!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<section class="page">
  <h1>Welcome to Your Goals Page</h1>
  <p>Current Goals:</p>
  <ul>
    <% @goals.each do |goal| %>
      <li class=goal_<%= goal.id %>>
        <%= goal.description %>
        <% goal.people.each do |person| %>
          <ul> <%= person.name %> </ul>
        <% end %>
        <%= link_to "Edit", edit_goal_path(goal) %>
        <%= link_to "Delete", goal_path(goal), method: "delete" %>
      </li>
    <% end %>
  </ul>
</section>

<section class="goal collection">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Goal</th>
        <th scope="col">Person</th>
        <th scope="col">Frequency</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Phone call</td>
        <td>Papa</td>
        <td>monthly</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>hang out</td>
        <td>Jennifer</td>
        <td>bi-monthly</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>text</td>
        <td>sister</td>
        <td>every other day</td>
      </tr>
    </tbody>
  </table>
</section>
