<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Let's go!</strong> Add your Friendly Goals below!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<section class="page">
  <div class="title">
    <h1>My Current Friendly Goals</h1>
  </div>
  <%= link_to "Create New Goal", new_goal_path %>
    <% @goals.each do |goal| %>
      <p class=goal_<%= goal.id %>>
        <h3>Goal: <%= goal.description %></h3>
        <%= link_to "Edit Goal", edit_goal_path(goal) %>
        <p>When: <%= goal.frequency %></p>
        <p>With:</p>
        <% goal.people.each do |person| %>
          <li> <%= link_to person.name, person_path(person) %> </li>
        <% end %>
      </li>
    <% end %>
</section>

<section class="goal collection">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Goal</th>
        <th scope="col">Person</th>
        <th scope="col">Frequency</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Phone call</td>
        <td>Papa</td>
        <td>monthly</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>hang out</td>
        <td>Jennifer</td>
        <td>bi-monthly</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>text</td>
        <td>sister</td>
        <td>every other day</td>
      </tr>
    </tbody>
  </table>
</section>
